body {
    background: #160C28;
    font-family: 'Roboto', sans-serif;
    color: floralwhite;
}

h1 {
    text-align: center;
    font-size: 5em;
}

#main-wraper {
    border-radius: 5px;
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#break-num,
#session-num {
    margin-top: auto;
    margin-bottom: auto;
}

.hidden {
    display: none !important;
}

.main-session-container,
.main-break-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.flex-item {
    border-radius: 5px;
    text-align: center;
    width: 200px;
    margin: 10px;
}

.timer-container {
    flex-grow: 1;
}

.break-length-container {
    display: flex;
    font-size: 3em;
}

.session-length-container {
    display: flex;
    font-size: 3em;
}

.big-clock {
    font-size: 10em;
}

.hourglass {
    position: relative;
    height: 80px;
    width: 80px;
    top: 28%;
    top: -webkit-calc(50% - 43px);
    top: calc(50% - 43px);
    left: 35%;
    left: -webkit-calc(50% - 43px);
    left: calc(50% - 43px);
    border: 3px solid floralwhite;
    border-radius: 80px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: hourglass 2s ease-in-out infinite;
    animation: hourglass 2s ease-in-out infinite;
}

.hourglass:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 18px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 37px 22px 0 22px;
    border-color: floralwhite transparent transparent transparent;
}

.hourglass:after {
    content: "";
    position: absolute;
    top: 35px;
    left: 18px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 22px 37px 22px;
    border-color: transparent transparent floralwhite transparent;
}

@-webkit-keyframes hourglass {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes hourglass {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.btn {
    border-radius: 4px;
    background-color: floralwhite;
    border: none;
    font-size: 28px;
    padding: 20px;
    width: 50%;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
}

.btn:focus {
    outline: none;
}

.hvr-bubble-float-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-bubble-float-top:before {
    position: absolute;
    z-index: -1;
    content: '';
    left: calc(50% - 10px);
    top: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent floralwhite transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-bubble-float-top:hover,
.hvr-bubble-float-top:active {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.hvr-bubble-float-top:hover:before,
.hvr-bubble-float-top:active:before {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.btn-plus-minus {
    border-radius: 4px;
    background-color: floralwhite;
    border: none;
    font-size: 28px;
    width: 50%;
    height: 40px;
    cursor: pointer;
    margin: 15px;
    padding-top: 5px;
}

.btn-plus-minus:focus {
    outline: none;
}

@media only screen and (max-width: 768px) {
    .timer-container {
        order: -1;
    }
    .session-length-container,
    .break-length-container {
        width: 100%;
        justify-content: space-around;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: auto;
        margin-left: auto;
    }
    .big-clock {
        font-size: 5em;
    }
    h1 {
        text-align: center;
        font-size: 3em;
    }
}